.cadastro_titulo {
    margin: 1em 0;
    font-size: 22px;
    font-weight: bold;
}

.form-control {
    padding: 10px;
}

#form_cadastro  {
    width: 80%;
    margin: 5em auto;
    padding: 4em; 
    background-color: white;
  }
  
  .form-control {
    padding: 9px 10px;
    border: 1px solid rgb(200, 200, 200)
  }
  
  .form-select {
    padding: 9px 10px;
    border: 1px solid rgb(200, 200, 200)
  }
  
  .titulo_cadastro {
    margin: 5px 0 50px 0;
    font-size: 25px;
  }
  
  .form-floating {
    margin: 2em 0 0 0;
  }

  @media only screen and (max-width: 600px){
    #form_cadastro {
      width: 100%;
      box-shadow: none;
      background-color: white;
  }
}  