.container_cadastro {
    margin: 2em 5em;
}

.conteiner_quatro {
    display: flex;
    gap: 20px;
    color: black;
}

.cadastro_titulo {
    padding: 2em 0;
}

.conteiner_quatro label {
    display: block;
}

.conteiner_quatro input {
    padding: 7px 15px;
    border-radius: 10px;
}

.conteiner_quatro select {
    padding: 7px 25px;
    border-radius: 10px;
    outline: none;
}

.dividir {
    padding: 0 5em 0 0;
}