/* Bill */

* {
    margin: 0;
    padding: 0;
}

.cadastro_titulo {
    margin: 1em 0;
    font-size: 22px;
    font-weight: bold;
}

.button {
    display: flex;
    gap: 1em;
    cursor: pointer;
}

.botao-salvar {
    background: #002776;
    padding: 0.98em;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: -20px;
    font-size: 18px;
    cursor: pointer;
}

.botao-cadastro {
    background: #002776;
    font-size: 18px;
    padding: 1em;
    color: white;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.botao-cadastro:hover {
    background-color: rgb(2, 81, 161);
    box-shadow: 2px 1px 8px 1px rgb(3, 76, 149);
}

.botao-salvar:hover {
    background-color: rgb(2, 81, 161);
    box-shadow: 2px 1px 8px 1px rgb(3, 76, 149);
}

@media only screen and (max-width: 800px) {

    .button {
        display: flex;
        justify-content: center;
    }

}