/* Bill */
.container_cadastro {
    margin: 0 auto;
    padding: 2em 0 2em 20em;

}

.cadastro_titulo {
   padding: 2.5em 0;
   font-size: 18px;
}

.tipo_recolhimento {
    width: 20em;
}

.instituicao_financeira {
    padding-left: 8.5em;
}

.valor {
    padding-left: 13em;
}

.numero_nl {
    padding-left: 8.5em;
}


.button {
   display: flex;
   gap: 1em;
}

.botao-cadastro {
    background: dodgerblue;
    padding: 1em;
    color: white;
    border-radius: 10px;
    border: none;
}

.botao-cadastro.botao-cadastro:hover{
    background-color: rgb(11, 96, 182);
    box-shadow: 2px 1px 8px 1px rgb(3, 116, 230);
}
