.cabecalho {
    background-color: #002776;
    padding: 1em;
    display: flex;
    /*border-bottom: 5px solid darkblue;*/
}

.logo_header {
    width: 13%;
}

.container_botao {
    margin: 2em 0 0 45em;
}

@media only screen and (min-width: 1600px){

    .cabecalho {
        padding: 1em;
    }

    .logo_header {
        width: 7%;
    }

    .logo_header {
        width: 13%;
    }
}

@media only screen and (min-width: 1480px) {
    .tituloHeader  {
        margin-top: 10px;
    }
}