.cabecalho {
    background-color: white;
    padding: 1em;
    display: flex;
    border-bottom: 4px solid darkblue;
}

.logo_header {
    width: 18%;
}

.container_botao {
    margin: 2em 0 0 45em;
}

.new-guia {
    border: none;
    background-color: white;
    font-size: 20px;
    background-color: dodgerblue;
    padding: 9px 25px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.new-guia:hover {
    background-color: rgb(3, 111, 218);
    box-shadow: 2px 1px 8px 1px dodgerblue;
}


