.container_titulo h1 {
    margin: 16px 0;
    padding: 1em;
    color: black;

.container_botoes {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.botao_voltar {
    padding: 1em 2em;
    gap: 10px;
    border-radius: 10px;
    background-color: #002776;
    color: white;
    font-size: 17px;
    border: none;
    text-decoration: none;
}

.botao_imprimir {
    padding: 1em 2em;
    gap: 10px;
    border-radius: 10px;
    background-color: #002776;
    color: white;
    font-size: 17px;
    border: none;
}

.botao_imprimir:hover {
    background-color: rgb(2, 81, 161);
    box-shadow: 2px 1px 8px 1px rgb(3, 76, 149);
}

.botao_voltar:hover {
    background-color: rgb(2, 81, 161);
    box-shadow: 2px 1px 8px 1px rgb(3, 76, 149);
}

@media only screen and (max-width: 800px){

    .container_titulo {
        margin: 1em 0;
    }
}

}