.container_titulo {
    background-color: white;
    text-align: center;
    margin: 5em 0 0 0;
    padding: 1em;
    color: black;
}

.container {
    margin: 1em 20em;
    padding: 2em;
    border-radius: 10px;
    /* border: 2px solid green; */
    background-color: white;
    /* box-shadow: 1px 3px 8px 10px gray; Qual lado| Qual altura | Transparencia | Tamanho da Sombra  */
}
  
.cabecalho_container {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 12px;
}
  
.cabecalho_container span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
}

.divTable {
    padding: 24px;
    width: auto; 
    height: inherit; 
    overflow: auto;
    text-align: center;
    color: black;
    font-size: 20px;
}
  
.divTable::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke; 
}
  
.divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
}
  
table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
}
  
thead {
    background-color: rgb(162, 160, 160);
}

.th_empresa {
    padding: 0 10px;
    text-align: none;
}
  
tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
}
  
tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
}
  
thead tr th {
    text-align: center;
    margin-bottom: 50px;
}
  
tbody tr {
    margin-bottom: 50px;
}
  
thead tr th.acao {
    width: 100px!important;
    text-align: center;
}
  
tbody tr td.acao {
    text-align: center;
}
  
td button {
    border: none;
    outline: none;
    background: transparent;
}
  
td button i {
    font-size: 25px;
}
  
td button i:first-child {
    margin-right: 10px;
}

.containerbotoes {
    text-align: center;
    margin: 3em 0;
}

.botao {
    padding: 1em 2em;
    margin: 1em;
    border-radius: 10px;
    background-color: darkgrey;
}

