.container_titulo {
    text-align: center;
    margin: 5em 0 0 1em;
    padding: 1em;
    color: black;
}

.container {
    margin: 1.5em 20em;
    padding: 2.5em;
    border-radius: 10px;
    /* border: 2px solid green; */
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
  
    /* box-shadow: 1px 3px 8px 10px gray; Qual lado| Qual altura | Transparencia | Tamanho da Sombra  */
}
  
.cabecalho_container {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 12px;
}
  
.cabecalho_container span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
}

.divTable {
    padding: 24px;
    width: auto; 
    height: inherit; 
    overflow: auto;
    text-align: center;
    color: black;
    font-size: 20px;
}
  
.divTable::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke; 
}
  
.divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray; 
}
  
table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
}
  
thead {
    background-color: rgb(162, 160, 160);
}

.th_empresa {
    padding: 0 10px;
    text-align: none;
}
  
tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
}
  
tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
}
  
thead tr th {
    text-align: center;
    margin-bottom: 50px;
}
  
tbody tr {
    margin-bottom: 50px;
}
  
thead tr th.acao {
    width: 100px!important;
    text-align: center;
}
  
tbody tr td.acao {
    text-align: center;
}
  
td button {
    border: none;
    outline: none;
    background: transparent;
}
  
td button i {
    font-size: 25px;
}
  
td button i:first-child {
    margin-right: 10px;
}

.container_botoes {
    margin: 0 20em;
}

.botao_voltar {
    padding: 1em 2em;
    gap: 10px;
    border-radius: 10px;
    background-color: #002776;
    color: white;
    font-size: 17px;
    border: none;
    text-decoration: none;
}

.botao_imprimir {
    padding: 1em 2em;
    gap: 10px;
    border-radius: 10px;
    background-color: #002776;
    color: white;
    font-size: 17px;
    border: none;
}

.botao_imprimir:hover {
    background-color: rgb(2, 81, 161);
    box-shadow: 2px 1px 8px 1px rgb(3, 76, 149);
}

.botao_voltar:hover {
    background-color: rgb(2, 81, 161);
    box-shadow: 2px 1px 8px 1px rgb(3, 76, 149);
}

@media (max-width: 800px) and (max-width: 1400px){
    body {
        background-color: white;
    }

    .cabecalho {
        padding: 1em 3em;
    }

    .container {
        box-shadow: none;
        background: none;
        text-align: center;
        margin: -50px;
    }

    .divTable {
        margin: none;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .container_botoes {
        margin: 1em 0;
        text-align: center;
    }

    .botao_voltar {
        padding: 15px;
    }

    .botao_imprimir {
        padding: 15px;
    }
}


/* @media (max-width: 1400px){
    .container {
        margin: 1.5em 5em;
        padding: 2.5em;
    }

    .container_botoes {
        margin: 0 10em;
    }
} */
