body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../img/imgnov.jpeg");
    background-size: cover;

}

div {

    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    border-radius: 15px;
    color: #FFFFFF;
}

div h1 {
    text-align: center;
    font-size: 2.3em;
}

input {
    padding: 18px;
    border: none;
    outline: none;
    font-size: 18px;
}

.InputSubmit {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;

}

.inputSubmit:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.ResetPassword {
    background-color: transparent;
    font-size: 12px;
    color: white;
    margin: 0;
}