.container_cadastro {
    margin: 2em 6em;
    padding: 2em;
}

.container_quatro {
    display: flex;
    gap: 20px;
}

.container_quatro label {
    display: block;
}

.tipo_recolhimento {
    width: 20em;
}

.instituicao_financeira {
    padding-left: 8.5em;
}

.container_quatro input {
    padding: 7px 70px;
    border-radius: 4px;
}

.valor {
    padding-left: 13em;
}

.numero_nl {
    padding-left: 8.5em;
}

.container_quatro select {
    padding: 7px 110px;
    border-radius: 4px;
    outline: none;
    border: 2px solid gray;
}

.dividir {
    padding: 0 5em 0 0;
}

.espacamento_select {
    padding: 0 10em;
}


.espaco_div_5 {
    margin: 0 15em;
}