.container_cadastro {
    margin: 2em 5em;
}

.container_quatro {
    display: flex;
    gap: 20px;
    color: black;
}

.cadastro_titulo {
    padding: 2.5em 0;
    font-size: 20px;
}

.container_quatro label {
    display: block;
}

.container_quatro input {
    padding: 7px 80px;
    border-radius: 4px;
}

.container_quatro select {
    padding: 7px 110px;
    border-radius: 4px;
    outline: none;
}

.dividir {
    padding: 0 5em 0 0;
}