/* João */

#NovaGuia {
    border: none;
    background-color: #002776;
    padding: 9px 25px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

#NovaGuia:hover {
    background-color: rgb(4, 106, 209);
    box-shadow: 2px 1px 8px 1px dodgerblue;
}

.titulo_recolhimento {
    font-size: 25px;
    margin: 1em 0;
}



.pesquisa_titulo {
    font-size: 20px;
    margin: 1em 0 3em 0;
}

.container_completo {
    border-radius: 30px;
    margin: 3em 0;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe;
    flex-wrap: wrap;
    display: block;
    padding: 2em 3em;
}

.container_pesquisa {
    display: flex;
    justify-content: center;
    /* Alinha horizontalmente ao centro */
    align-items: center;
    /* Alinha verticalmente ao centro */
}

.container_quatro {
    display: flex;
    gap: 50px;
}

.container_quatro label {
    display: flex;
    font-size: 18px;
}

.CampoInput {
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid gray;
    outline: none;
}


.campodual {
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    border: 2px solid gray;
}

.CampoSelect {
    padding: 10px;
    border: 2px solid gray;
}

.espacamento_select {
    padding: 0 7em;
}


.espaco_div_5 {
    margin: 0 7em;
}

.btn {
    font-size: 18px;
    background-color: #002776;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    margin: 0 0 2em 0;
}

.btn:hover {
    background-color: rgb(2, 81, 161);
    box-shadow: 2px 1px 8px 1px rgb(3, 76, 149);
}


@media screen and (max-width: 960px) {

    * {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: white;
    }

    .container_completo {
        box-shadow: none;
        background: none;
        text-align: center;
    }

    #FormBox {
        display: block;
    }

    .container_quatro {
        flex-direction: column;
    }

    .container_quatro label {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    .CampoInput {
        width: 60%;
    }

    .campodual {
        margin: 0;
        width: 20%;
    }

}

/* @media screen and (max-width: 800px) {
    .container_completo {
        width: 50%;
        margin: none;
    }
} */

@media screen and (max-width: 1130px) {

    .container_completo {
        box-shadow: none;
        background: none;
        margin: 0 auto;
    }

}

