@import url("header.css");
@import url("historico.css");
@import url("pesquisa.css");
@import url("cadastro.css");


* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: rgb(2, 0, 36);
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}